/* Utilisation de la font Roboto de Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

/* Découpage sidebar et article */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
    align-items: auto;
}

.flex-items:nth-child(1) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin: 0 24px;
}

.flex-items:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

/* Titre */
#titre{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

h1,h4 {
    color: #3189DA;
}

img.logo{
    width: 100px;
}

.hr-blue {
    color: #3189DA;
    opacity: 1;
    height: 2px;
    margin-bottom: 20px;
}

/* Découpage cards et fiches des poissons */
.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards-items {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin: 24px 0px;
    background-color: blue;
}